@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
 */

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 body{
    background-color: #f2f2f2;
 }


header {
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
.logo-nav img{
    display: flex;
    height: 80px;
    align-items: center;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}
/* Media da nav-bar (header) */
@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .open {
        display: block;
    }
}
/* Fim media navbar */
a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.home {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10%;
    
}
.home-text {
    font-family: 'Montserrat', sans-serif;
    
    line-height: 4rem;
}

.conjuto-home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-text h1 {
    font-size: 6rem;
    line-height: 6rem;
}

.home-text h2 {
    margin-bottom: 3rem;
}

.home-text h3 {
    font-size: 1.8rem;
    line-height: 2.5rem;
}
.cor-destaque {
    color: #E86E21;
}

.home-img img{
    height: 500px;
    width: 100%;
}

/* media da home */
@media screen and (max-width: 785px) {
    .home {
        display: block;
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
        
    }
    .home-text h1 {
        font-size: 62px;
    }
    .home-text h2 {
        font-size: 15px;
    }
    .home-text h3 {
        font-size: 24px;
    }

    .conjuto-home-text {
        line-height: 2rem;
    }

    .home img {
        margin-top: 2rem;
        height: 200px;
        width: 100%;
    }
}
/* Fim media navbar */

.servicos {
    display: flex;
    background-color: #D9D9D9;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 105vh;
    gap: 80px;
}
.servicos .servicos-frase {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: #000;
    margin-bottom: 15px;
    position: relative;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 300px;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 35px 80px rgba(0,0,0, 0.15);
    transition: 0.5s;
}

.card:hover{
    height: 400px;
}

.card .img-box {
    position: absolute;
    width: 250px;
    height: auto;
    top: 0px;
    transition: 0.5s;
}

.card .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 10px;
}

.card:hover .img-box {
    top: -100px;
    scale: 0.75;
}

.cards-servicos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}

.card .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    position: absolute;
    top: 250px;
    width: 100%;
    padding: 0px 30px;
    height: 30px;
    overflow: hidden;
    transition: 0.5s;
}

.card .content p {
    font-size: 16px;
}

.card:hover .content{
    top: 130px;
    height: 300px;
}

.card .read-more {
    background-color: #E86E21;
    color: #fff;
    padding: 12px;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s ease;
}

.card .read-more:hover {
    background-color: #f89558;
}



.clientes-area {
    display: flex;
    flex-direction: column;
}

.clientes {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.clientes h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.organizacao-clientes {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.organizacao-clientes img{
    height: 40px;
    align-items: center;
}

/* Media screen servicos */
@media (max-width: 1270px) {
    .servicos .cards-servicos {
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        width: 100%; /* Definir largura total para ocupar a largura do contêiner pai */
        max-width: 450px; /* Limitar a largura máxima dos cards */
    }

    .card .img-box img{
        width: 100%; /* Definir largura total para a imagem */
        position: absolute; /* Alterar a posição para relativa */
        height: auto; /* Redefinir altura para automático */
    }

    .card .content {
        position: relative; /* Alterar a posição para relativa */
        top: 250px; /* Redefinir a posição superior */
        padding: 20px; /* Adicionar algum espaçamento interno */
         /* Redefinir a altura para automático */
        text-align: center; /* Centralizar o texto */
        
        
        width: 100%;
        padding: 0px 30px;
        height: 20px;
        
    }
    .card .content h2 {
        margin-top: 1rem;
    }

    .card:hover .content {
        top: 120; /* Redefinir a posição superior */
        position: relative;
        height: 400px;
    }

    .clientes {
        flex-direction: column; /* Empilhar os elementos verticalmente */
        gap: 40px; /* Adicionar algum espaçamento entre os elementos */
        text-align: center; /* Centralizar o texto */
    }

    .card .content p {
        margin-bottom: 0; /* Remover a margem inferior do parágrafo */
    }
}
/* Fim media screen servicos*/

.quem-somos {
    
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.quem-somos h1 {
    font-size: 50px;
    color: #000;
    margin-bottom: 15px;
    position: relative;
}


.quem-somos p {
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}

.quem-somos .container {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about-image img {
    width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about-image:hover img{
    transform: scale(1.2);
}
.about-content {
    flex: 1;
}

.about-content h2 {
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;

}

.about-content p {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
}


#ch {
    display: none;
}

#ch:checked ~ .extra-content {
    display: block;
}

#ch:checked ~ label {
    display: none;
}

.about-content label {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    background-color: #E86E21;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.about-content label:hover {
    background-color: #f89558;
}

.extra-content {
    display: none;
}
/* media quem-somos */
@media screen and (max-width: 768px){
    .quem-somos {
        padding: 0px 20px;
    }
    .quem-somos h1 {
        font-size: 36px;
    }
    .quem-somos p {
        font-size: 17px;
        margin-bottom: 0px;
    }
    .quem-somos .container {
        padding: 0px;
    }
    .about {
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p {
        padding: 0px;
        font-size: 16px;
    }
    .about-content .read-more {
        font-size: 16px;
    }
}
/* Fim media quem-somos */


p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
}




.contacts {
    background-color: #D9D9D9;
    font-family: 'Poppins', sans-serif;
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacts .content {
    max-width: 800px;
    text-align: center;
}
.contacts .content h2 {
    font-size: 36px;
    font-weight:500;
}

.contacts .content p {
    text-align: center;
    font-weight: 300;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    display: flex;
    background-color: #E86E21;
    color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.3s ease;
}

.container .contactInfo .box .icon:hover {
    background-color: #f89558;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;  
}

.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: #E86E21;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #fff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input, textarea, button {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}


.contactForm .inputBox button {
    position: relative; /* Tornar o botão relativo para posicionar elementos filhos absolutos */
    display: flex; /* Usar flexbox para centralizar a imagem */
    align-items: center; /* Centralizar verticalmente */
    justify-content: center; /* Centralizar horizontalmente */
    border-radius: 30px;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}


.loading {
    position: absolute;
    
    width: 30px;
    height: 30px; /* Adicionei altura para garantir uma exibição adequada */
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox button:focus ~ span,
.contactForm .inputBox button:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span  {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox button[type="submit"]{
    width: 100px;
    background-color: #E86E21;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    transition: 0.3s ease;
}

.contactForm .inputBox button[type="submit"]:hover {
    background-color: #f89558;
}
/* media contatos */
@media (max-width: 991px) {
    .contacts {
        padding: 50px;
    }
    .container {
        flex-direction: column;
    }
    .container .contactInfo {
        margin-bottom: 40px;
    }
    .container .contactInfo, .contactForm {
        width: 100%;
    } 
    .box {
        width: 100% ;
    }
    .box p{
        font-size: 14px;
    }

}
/* Fim media contatos */
:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}
footer {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    letter-spacing: 1px;
    color: var(--color-neutral-40);
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    padding: 3rem 3.5rem;
}

#footer_content img {
    height: 80px;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}


#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#whatsapp {
    background: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;

}

#footer_contacts p {
    font-size: 16px;
    font-weight: 100;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #E86E21;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

/* Media screen do footer */

@media screen and (max-width: 768px){
    #footer_content {
        place-items: initial;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 430px){
    #footer_content {
        grid-template-columns: repeat(1,1fr);
        padding: 3rem 2rem;
    }
}

/* Fim media footer */

/* Whatsapp botao flutuante */
.whatsapp-btn {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: black;
    border: 3px solid white;
    padding: 10px;
    border-radius: 100px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
 }
 .joinchat__tooltip {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 7px;
    right: 60px;
    width: auto;
    height: 35px;
    padding: 5px 10px 5px 5px;
    border: none;
    border-radius: 50px;
    background: #fff;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-out 0.4s;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.4s));
 }
 .joinchat__tooltip::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    right: -6px;
    border: 8px solid transparent;
    border-width: 6px 0 6px 8px;
    border-left-color: #fff;
 }
 .bi-person-circle::before {
    margin-right: 5px;
    color: #999;
 }
 .joinchat__tooltip .text {
    color: #525252;
    font-size: 16px;
 }

 .whatsapp-btn:hover {
    transition: all 0.5s ease-in-out;
    animation: bounce 1.6s infinite;
 }
 @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
       transform: translateY(0);
    }
    40% {
       transform: translateY(-5px);
    }
    60% {
       transform: translateY(-5px);
    }
 }
 @media (hover: hover) {
    .whatsapp-btn:hover .joinchat__tooltip {
       opacity: 1;
       animation: none;
       transition: opacity 0.2s;
    }
 } 

 @media screen and (max-width: 480px) {
    .menu {
        flex-direction: column;
        padding: 20px;
    }
    .extintor-foto {
        height: 200px;
    }
    .menu, .servicos, .clientes, .quem-somos, .contacts {
        padding: 20px;
    }
    .servicos .servicos-frase {
        font-size: 40px;
    }
    .servicos .cards-servicos {
        flex-direction: column;
        gap: 40px;
    }
    .card {
        width: 100%;
    }
    .card .content {
        top: 200px;
    }
    .card:hover .content {
        top: 100px;
    }
    .clientes h1 {
        font-size: 24px;
    }
    .about-image {
        margin-right: 0;
    }
    .contactForm {
        width: 100%;
        padding: 20px;
    }
    .whatsapp-btn {
        bottom: 20px;
        right: 20px;
    }
    .joinchat__tooltip {
        top: -35px;
        right: 0;
    }
    .bi-person-circle::before {
        margin-right: 0;
    }
    .joinchat__tooltip .text {
        font-size: 14px;
    }
}
